<nav>
    <ul>
        <li><a class="navbar-logo" routerLink="">
            <img class="logo" src="https://www.w3schools.com/howto/img_avatar.png" width="50" height="50  " alt="logo">
        </a></li>
        <li><a routerLink="account-dashboard" routerLinkActive="active-link">Dashboard</a></li>
        <li><a routerLink="orders" routerLinkActive="active-link">Orders</a></li>
        <li><a routerLink="addresses" routerLinkActive="active-link">Addresses</a></li>
        <li><a routerLink="account-details" routerLinkActive="active-link">Account details</a></li>
        <li><a routerLink="wishlist" routerLinkActive="active-link">Wishlist</a></li>
        <li><a routerLink="">Logout</a></li>
    </ul>
</nav>
